<div class="container-fluid">
 <div id="Carousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-content">
     <div class="button-effect">
       <h3><%= link_to "Blog", actualitys_path, class: "effect effect-5"%>
        <%= link_to "Contact", contact_path, class: "effect effect-5" %></h3>
      </div>
      <h4>IMMO +</h4>
    </div>
    <div class="item active">
      <%= image_tag "house_fond3.jpg", class: "d-block w-100", alt: "Carrousel slide 1", crop: :fill%>
    </div>
    <div class="item">
      <%= image_tag "house_snow.jpg", class: "d-block w-100", alt: "Carrousel slide 2", crop: :fill %>
    </div>
    <div class="item">
      <%= image_tag "housefd.jpg", class: "d-block w-100", alt: "Carrousel slide 3", crop: :fill%>
    </div>
    <div class="item">
      <%= image_tag "carrouselfond2.jpg", class: "d-block w-100", alt: "Carrousel slide 4", crop: :fill%>
    </div>
    <div class="item">
      <%= image_tag "carrouselfond3.jpg", class: "d-block w-100", alt: "Carrousel slide 5", crop: :fill%>
    </div>
  </div>
