<div class="container-fluid">
   <div class="banner">
       <div class="container">
       <h3><strong><%= link_to "Blog", actualitys_path %></strong> <strong><%= link_to "Contact", contact_path %></strong></h3>
        <h1> <strong><%= link_to "Achat", propertys_path %> 
        <%= link_to "Location", locations_path %>
         <%= link_to "Terrain", lots_path%>
         <%= link_to "Estimation", estimate_path,  {:style=>'color: rgba(255,255,255, 0.8);'}  %> </strong> </h1>
      </div>
    </div>
    <div class="color">
  <form class="form" id="form-estimate">

  <h2 id="h2-estimate">Estimation de votre bien</h2>
  <p type="Sélectionnez votre type de bien:">
      <div class="select">
        <select>
          <option value="0">Sélectionnez</option>
          <option value="1">Maison</option>
          <option value="2">Appartement</option>
          <option value="3">Terrain</option>
        </select>
    </div>
  </p></input>
  <p type="Adresse:"><input placeholder="Adresse"></input></p>
  <p type="Code postal:"><input placeholder="Code postal"></input></p>
  <p type="Ville:"><input placeholder="Ville"></input></p>
    <p type="Nom:"><input placeholder="Nom"></input></p>
  <p type="Email:"><input placeholder="Email"></input></p>
  <button>Envoyez votre demande</button>
  <div id="bar">
    <h6>07.23.12.25.39</h6>
    <h6> immo+@mail.com </h6>
  </div>
</form>
</div>
</div>