<body id="body-contact">
  <div class="container-fluid">
   <div id="Carousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-content">
       <div class="button-effect">
         <h3><%= link_to "Blog", actualitys_path, class: "effect effect-5"%>
          <%= link_to "Contact", contact_path, class: "effect effect-5" %></h3>
        </div>
        <h4>IMMO +</h4>
        <div class="estimate">
          <h2>Vous ne vous sentez plus chez vous ?</h2>
          <p id="punch">laissez-nous vendre pour vous !<p>
          </div>
          <ul class="list-inline tabs-underlined">
            <li>
             <%= link_to "Achat", propertys_path,class: "tab-underlined "%>
           </li>
           <li>
             <%= link_to "Location", locations_path, class: "tab-underlined"  %>
           </li>
           <li>
             <%= link_to "Terrain", lots_path, class: "tab-underlined"  %>
           </li>
           <li>
             <%= link_to "Estimation", estimate_path, class: "tab-underlined active", id: "uder4"%>
           </li>
         </ul>
       </div>
       <div class="item active">
        <%= image_tag "house_fond3.jpg", class: "d-block w-100", alt: "Carrousel slide 2", crop: :fill%>
      </div>
      <div class="item">
        <%= image_tag "house_snow.jpg", class: "d-block w-100", alt: "Carrousel slide 3", crop: :fill %>
      </div>
      <div class="item">
          <%= image_tag "housefd.jpg", class: "d-block w-100", alt: "Carrousel slide 5", crop: :fill%>
      </div>

    </div>
  </div>

  <div class="color">
    <form class="form" id="form-estimate">

      <h2 id="h2-estimate">Estimation de votre bien</h2>
      <p type="Sélectionnez votre type de bien:"></p>
      <div class="select">
        <select>
          <option value="0">Sélectionnez</option>
          <option value="1">Maison</option>
          <option value="2">Appartement</option>
          <option value="3">Terrain</option>
        </select>
      </div>
      <p type="Adresse:"><input placeholder="Adresse"></input></p>
      <p type="Code postal:"><input placeholder="Code postal"></input></p>
      <p type="Ville:"><input placeholder="Ville"></input></p>
      <p type="Nom:"><input placeholder="Nom"></input></p>
      <p type="Email:"><input placeholder="Email"></input></p>
      <button style="margin: 5px;">Envoyez votre demande</button>
      <div id="bar-estimate">
        <h6>07.23.12.25.39</h6>
        <h6> immo+@mail.com </h6>
        <h6>Agence située à marseille </h6>
      </div>
    </form>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.carousel').carousel({
          interval: 4000
        })
      });
    </script>
  </div>
</div>
</body>
