<div class="container-fluid">
 <div id="Carousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-content">
     <h5><strong><%= link_to "Faire une recherche ", propertys_path %></strong></h5>
     <h3><strong><%= link_to "Blog", blog_path %></strong> <strong><%= link_to "Contact", contact_path %></strong></h3>

     <h4>IMMO +</h4>
     <div class="actunew">
      <h2>Nouvauté</h2>
      <p>Retrouvez nos nouvautés<p>
      </div>

      <div class="button-effect">
        <h1>
          <%= link_to "Actualité", actualitys_path, class: "effect effect-5" %>
          <%= link_to "Nouveauté", nouvelles_path, class: "effect effect-5", id: "linkeffect" %></h1>
        </div>
      </div>
    <div class="item active">
    <%= image_tag "house_fond3.jpg", class: "d-block w-100", alt: "Carrousel slide 2", crop: :fill%>
  </div>
  <div class="item">
    <%= image_tag "house_snow.jpg", class: "d-block w-100", alt: "Carrousel slide 3", crop: :fill %>
  </div>
   <div class="item">
    <%= image_tag "house_fond5.jpg", class: "d-block w-100", alt: "Carrousel slide 5", crop: :fill%>
  </div>

  </div>
</div>

<div class="masonry-wrapper"><div class="masonry">
 <% @nouvelles.each do |n| %>
 <div class="masonry-item">
  <div class="masonry-content">
    <%= image_tag "article.jpg" %>
    <h2 class="masonry-title"> <%= n.name %> </h2>
    <p class="masonry-description"> <%= n.texte%></p>
    <h3><%= link_to   nouvelle_path(n) do %>
      Voir <%= image_tag "icons-plus.png", class: "imageplus"%>
      <% end %> </h3>
    </div>
  </div>
  <% end %>
</div></div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 4000
    })
  });
</script>
<script>
  function resizeMasonryItem(item){
    /* Get the grid object, its row-gap, and the size of its implicit rows */
    var grid = document.getElementsByClassName('masonry')[0];
    if( grid ) {
      var rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap')),
      rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows')),
      gridImagesAsContent = item.querySelector('img.masonry-content');

    /*
     * Spanning for any brick = S
     * Grid's row-gap = G
     * Size of grid's implicitly create row-track = R
     * Height of item content = H
     * Net height of the item = H1 = H + G
     * Net height of the implicit row-track = T = G + R
     * S = H1 / T
     */
     var rowSpan = Math.ceil((item.querySelector('.masonry-content').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));

     /* Set the spanning as calculated above (S) */
     item.style.gridRowEnd = 'span '+rowSpan;
     if(gridImagesAsContent) {
      item.querySelector('img.masonry-content').style.height = item.getBoundingClientRect().height + "px";
    }
  }
}

/**
 * Apply spanning to all the masonry items
 *
 * Loop through all the items and apply the spanning to them using
 * `resizeMasonryItem()` function.
 *
 * @uses resizeMasonryItem
 * @link https://w3bits.com/css-grid-masonry/
 */
 function resizeAllMasonryItems(){
  // Get all item class objects in one list
  var allItems = document.querySelectorAll('.masonry-item');

  /*
   * Loop through the above list and execute the spanning function to
   * each list-item (i.e. each masonry item)
   */
   if( allItems ) {
    for(var i=0;i>allItems.length;i++){
      resizeMasonryItem(allItems[i]);
    }
  }
}

/**
 * Resize the items when all the images inside the masonry grid
 * finish loading. This will ensure that all the content inside our
 * masonry items is visible.
 *
 * @uses ImagesLoaded
 * @uses resizeMasonryItem
 * @link https://w3bits.com/css-grid-masonry/
 */
 function waitForImages() {
  //var grid = document.getElementById("masonry");
  var allItems = document.querySelectorAll('.masonry-item');
  if( allItems ) {
    for(var i=0;i<allItems.length;i++){
      imagesLoaded( allItems[i], function(instance) {
        var item = instance.elements[0];
        resizeMasonryItem(item);
        console.log("Waiting for Images");
      } );
    }
  }
}

/* Resize all the grid items on the load and resize events */
var masonryEvents = ['load', 'resize'];
masonryEvents.forEach( function(event) {
  window.addEventListener(event, resizeAllMasonryItems);
} );

/* Do a resize once more when all the images finish loading */
waitForImages();
</script>
</div>
