<div class="container-fluid">
     <div class="banner">
     <div class="container">
        <h5><strong><%= link_to "Faire une recherche ", propertys_path %></strong></h5>
         <h3><strong><%= link_to "Blog", blog_path %></strong> <strong><%= link_to "Contact", contact_path %></strong></h3>
        <h1> <strong><%= link_to "Actualité", actualitys_path %> <%= link_to "Nouveauté", nouvelles_path, {:style=>'color: rgba(255,255,255, 0.8);'} %></strong> </h1>
     </div>
</div>
    <% @nouvelles.each do |n| %>
  <div class="card-product">
      <%= image_tag "article.jpg" %>
     <div class="card-product-infos">
      <h2> <%= link_to n.name,  nouvelle_path(n) %> </h2>
      <p id="pactualitie"> <%= n.texte%>
    </div>
  </div>
     <% end %>
</div>