<body id="blog">
  <h5 style="font-size: 2em;" id="back"><%= link_to  nouvelles_path do %>
    <%= fa_icon "chevron-left" %> Retour
    <% end %>
  </h5>
  <div class="container" id="cadreblog">
   <%= image_tag "new.jpg", id: "imgactu"%>
   <h1> <%= @nouvelle.name %> <h1>
    <p id="texte"> <%= @nouvelle.texte %> </p>
          <p style="margin-left: 15px; font-size: 0.5em !important;"> <%= @nouvelle.date %></p>
  </div>
</body>
