<div class="container-fluid">
     <div class="banner" style="background-color: #59ABE3">
       <div class="container">
       <h3><strong><%= link_to "Blog", blog_path %></strong> <strong><%= link_to "Contact", contact_path %></strong></h3>
        <h2>Trouvez votre chez-vous </h2>
  <div class="search">
          <%= form_tag propertys_path, method: :get do %>
            <%= text_field_tag :query, params[:query],
             class: "form-control", id: "city", placeholder: "Où voulez-vous vivre?"  %>
           <%= submit_tag "Search", class: "btn btn-primary" %>
         <% end %>
                  </div>
        <h1> <strong><%= link_to "Achat", propertys_path %></strong> location catégorie3 Catégorie4 </h1>

      </div>
    </div>

    <% @propertys.each do |p| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
     <div class="card-product-infos">
      <h2><%= link_to p.name,  property_path(p) %></h2>
      <p> <%= p.city %> </p>
    </div>
  </div>
   <% end %>
</div>

