<div class="container-fluid">
     <div class="banner">
       <div class="container">
       <h3><strong><%= link_to "Blog", actualitys_path %></strong> <strong><%= link_to "Contact", contact_path %></strong></h3>
        <h2>Trouvez votre chez-vous </h2>
  <div class="search">
          <%= form_tag propertys_path, method: :get do %>
            <%= text_field_tag :city, params[:city],
             class: "form-control", id: "city", placeholder: "Où voulez-vous vivre?"  %>
              <%= text_field_tag :price, params[:price],
             class: "form-control", id: "price", placeholder: "Prix max"  %>
           <%= submit_tag "Search", class: "btn btn-primary" %>
         <% end %>
                  </div>
        <h1> <strong><%= link_to "Achat", propertys_path, {:style=>'color: rgba(255,255,255, 0.8);'} %>
         <%= link_to "Location", locations_path %>
         <%= link_to "Terrain", lots_path %>
         <%= link_to "Estimation", estimate_path %> </strong></h1>
      </div>
    </div>

    <% @propertys.each do |p| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
     <div class="card-product-infos">
      <h2><%= link_to p.name,  property_path(p) %></h2>
      <p> <%= p.city %> </p>
    </div>
  </div>
   <% end %>
</div>

