<div class="container-fluid">
<h5><%= link_to "Retour", propertys_path %> </h5>
</div>
<div class="container">
<div class="row">
    <div class="col">
        <div class="zoom">
            <%= image_tag "room.jpg", id: "images" %>
            <%= image_tag "room2.jpg", id: "images" %>
            <%= image_tag "room3.jpg", id: "images" %>
            <%= image_tag "room4.jpg", id: "images" %>
        </div>
    </div>
    <div class="col" style="border: 3px solid #78788c;">
        <p><strong>Pièces: </strong><%= @property.room %></p>
        <p><%= @property.metre %> <strong>m²</strong></p>
        <p><strong>Ville: </strong><%= @property.city %></p>
        <p><strong>Prix: </strong><%= @property.price %><strong> €</strong></p>
        <p><strong>Reférence de l'annonce: </strong><%= @property.ref %></p>
    </div>
  </div>
    <div class="container">
    <!--The div element for the map -->
    <div id="map-container">
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var marseille = {lat: 43.3, lng: 5.4};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: marseille});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: marseille, map: map});
}
    </script>
<script defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoU_mc_G8koG5TTc4d_OKXDYNoFxXcU_s&callback=initMap">
</script>
</div>
</div>
