<div class="container-fluid">
<h2><%= @property.name %></h2>

<p><strong>Pièces: </strong><%= @property.room %></p>
<p><%= @property.metre %> <strong>m²</strong></p>
<p><strong>Ville: </strong><%= @property.city %></p>
<p><strong>Prix: </strong><%= @property.price %><strong> €</strong></p>
<p><strong>Reférence de l'annonce: </strong><%= @property.ref %></p>

<h2><%= link_to "back", propertys_path %> </h2>
</div>