<div class="container-fluid">
  <h5><%= link_to "Retour", lots_path %> </h5>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="zoom">
        <%= image_tag "lot.jpg", id: "images" %>
        <%= image_tag "lot1.jpg", id: "images" %>
        <%= image_tag "lot2.jpg", id: "images" %>
      </div>
    </div>
    <div class="col" style="border: 3px solid #78788c; background: white">
      <p><%= @lot.metre %> <strong>m²</strong></p>
      <p><strong>Ville: </strong><%= @lot.city %></p>
      <p><strong>Prix: </strong><%= @lot.price %><strong> €</strong></p>
      <p><strong>Reférence de l'annonce: </strong><%= @lot.ref %></p>
      <% @markers = { lat: @lot.latitude, lng: @lot.longitude} %>
    </div>
  </div>
  <div class="container">

    <div id="map-container">
      <div id="map" data-markers="<%= @markers.to_json %>"></div>
      <script>
            //recup data from map
            const mapElement = document.getElementById("map");
            //parse markers from map
            const markers = JSON.parse(mapElement.dataset.markers);
            //parse markers for lat and lng
            const lng = parseFloat(markers.lng, 10);
            const lat = parseFloat(markers.lat, 10);

            function initMap() {
              // set location to lng and lat
              var place = {lat: lat, lng: lng};
              //create map with location and zoom
              var map = new google.maps.Map(
               document.getElementById('map'), {zoom: 15, center: place});
              // The marker, positioned at place
              var marker = new google.maps.Marker({position: place, map: map});
            }
          </script>
          <script defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoU_mc_G8koG5TTc4d_OKXDYNoFxXcU_s&callback=initMap">
        </script>
      </div>
    </div>
