<div class="container-fluid">
 <div id="Carousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-content">
     <div class="button-effect">
       <h3><%= link_to "Blog", actualitys_path, class: "effect effect-5"%>
        <%= link_to "Contact", contact_path, class: "effect effect-5" %></h3>
      </div>
      <h4>IMMO +</h4>
      <div class="search">
       <h2>Trouvez votre chez-vous </h2>
       <%= form_tag @propertys_path, method: :get do %>
       <%= text_field_tag :city, params[:city],
       class: "form-control", id: "city", placeholder: "Où voulez-vous vivre?"  %>
       <div class="row no-gutter">
        <div class="col-lg-6">
          <%= text_field_tag :price_min, params[:price_min],
          class: "form-control", id: "pricemin", placeholder: "Prix min"  %>
        </div>
        <div class="col-lg-6">
          <%= text_field_tag :price_max, params[:price_max],
          class: "form-control", id: "pricemax", placeholder: "Prix max"  %>
        </div>
      </div>
      <%= text_field_tag :room, params[:room],
      class: "form-control", id: "room", placeholder: "Nombre de pièces min"  %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <ul class="list-inline tabs-underlined">
      <li>
       <%= link_to "Achat", propertys_path,class: "tab-underlined "%>
     </li>
     <li>
       <%= link_to "Location", locations_path, class: "tab-underlined active", id: "uder2"  %>
     </li>
     <li>
       <%= link_to "Terrain", lots_path, class: "tab-underlined"  %>
     </li>
     <li>
       <%= link_to "Estimation", estimate_path, class: "tab-underlined"%>
     </li>
   </ul>
 </div>
 <div class="item active">
  <%= image_tag "house_fond3.jpg", class: "d-block w-100", alt: "Carrousel slide 2", crop: :fill%>
</div>
<div class="item">
  <%= image_tag "house_snow.jpg", class: "d-block w-100", alt: "Carrousel slide 3", crop: :fill %>
</div>
<div class="item">
  <%= image_tag "housefd.jpg", class: "d-block w-100", alt: "Carrousel slide 5", crop: :fill%>
</div>

</div>
</div>

<div class="row">
 <div class="cards">
<% @locations.each do |locate| %>
  <%if locate == @locations.first%>
    <div class="card-product" id="cardlocate">
      <div class="image-container">
       <div class="ribbon-wrapper"><div class="ribbon">Exclusivité</div></div>

    <% if locate.name == "Maison" %>
    <%= image_tag "house_interior.jpg" %>
    <% else %>
    <%= image_tag "locate.jpg" %>
    <%end %>
       <div class="after">
        <h2> <%= "Type de bien: #{@locations.first.name}" %> </h2>
        <h2> <%= "Surface: #{@locations.first.metre} m²" %> </h2>
        <h2> <%= " Nombre de pièces: #{@locations.first.room} " %> </h2>
        <h2> <%= "Situé à #{@locations.first.city}" %> </h2>
        <h2> <%= "Prix: #{@locations.first.price.to_s.in_groups_of(3)} €" %> </h2>
        <h2> <%= "Reférence de l'annonce:  #{@locations.first.ref}" %></h2>
      </div>
    </div>
    <div class="card-product-infos">
      <h2><%= "#{@locations.first.name} de #{@locations.first.metre} m²"%> </h2>
      <p> <%= "Situé à #{@locations.first.city}" %> </p>
      <p id="prix"> <%= "Prix: #{@locations.first.price} €" %> </p>
      <h3><%= link_to   location_path(@locations.first) do %></h3>
      Voir <%= image_tag "icons-plus.png", class: "imageplus"%>
      <% end %>
    </div>
    </div>
  <% end %>

<div class="card-product" id="cardlocate">
  <div class="image-container">
    <% if locate.name == "Maison" %>
    <%= image_tag "house_interior.jpg" %>
    <% else %>
    <%= image_tag "locate.jpg" %>
    <%end %>

    <div class="after">
      <h2> <%= "Type de bien: #{locate.name}" %> </h2>
      <h2> <%= "Surface: #{locate.metre} m²" %> </h2>
      <h2> <%= " Nombre de pièces: #{locate.room} " %> </h2>
      <h2> <%= "Situé à #{locate.city}" %> </h2>
      <h2> <%= "Prix: #{locate.price} €" %> </h2>
      <h2> <%= "Reférence de l'annonce:  #{locate.ref}" %></h2>
      </div>
    </div>
    <div class="card-product-infos">
      <h2><%= "#{locate.name} de #{locate.metre} m²" %></h2>
      <p> <%= "Situé à #{locate.city}" %> </p>
      <p id="prix"> <%= "Prix: #{locate.price} €" %> </p>
      <h3><%= link_to   location_path(locate) do %></h3>
        Voir <%= image_tag "icons-plus.png", class: "imageplus"%>
        <% end %>
      </div>
    </div>
<% end %>

  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.carousel').carousel({
        interval: 4000
      })
    });
  </script>
</div>
</div>

