<div class="container-fluid">
  <h5><%= link_to "Retour", locations_path, id: "back-show" %> </h5>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag "room.jpg", onclick: "openModal();currentSlide(1)", class: "hover-shadow" %>
      <%= image_tag "room2.jpg", onclick: "openModal();currentSlide(2)", class: "hover-shadow" %>
      <%= image_tag "room3.jpg", onclick: "openModal();currentSlide(3)", class: "hover-shadow" %>
      <%= image_tag "room4.jpg", onclick: "openModal();currentSlide(4)", class: "hover-shadow" %>
    </div>
    <!-- The Modal/Lightbox -->
    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">

        <div class="mySlides">
          <div class="numbertext">1 / 4</div>
          <%= image_tag "room.jpg" %>
        </div>

        <div class="mySlides">
          <div class="numbertext">2 / 4</div>
          <%= image_tag "room2.jpg" %>
        </div>

        <div class="mySlides">
          <div class="numbertext">3 / 4</div>
          <%= image_tag "room3.jpg" %>
        </div>

        <div class="mySlides">
          <div class="numbertext">4 / 4</div>
          <%= image_tag "room4.jpg" %>
        </div>

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="caption-container">
        </div>

        <!-- Thumbnail image controls -->
        <div class="column">
          <%= image_tag "room.jpg",class: "demo", onclick: "currentSlide(1)"%>
        </div>

        <div class="column">
         <%= image_tag "room2.jpg",class: "demo", onclick: "currentSlide(2)"%>
       </div>

       <div class="column">
        <%= image_tag "room3.jpg",class: "demo", onclick: "currentSlide(3)"%>
      </div>

      <div class="column">
       <%= image_tag "room4.jpg",class: "demo", onclick: "currentSlide(4)"%>
     </div>
   </div>
 </div>
 <div class="col" style="border: 3px solid #78788c; background: white">
  <p><strong>Pièces: </strong><%= @location.room %></p>
  <p><%= @location.metre %> <strong>m²</strong></p>
  <p><strong>Ville: </strong><%= @location.city %></p>
  <p><strong>Prix: </strong><%= @location.price %><strong> €</strong></p>
  <p><strong>Reférence de l'annonce: </strong><%= @location.ref %></p>
  <p><strong>Déscription du bien: </strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Maecenas tempus risus nec ultricies condimentum. Sed pulvinar enim eget dui posuere iaculis.
    Integer nec erat tincidunt, dapibus metus et, ullamcorper justo.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <% @markers = { lat: @location.latitude, lng: @location.longitude} %>
</div>
</div>
<div class="container">

  <div id="map-container">
    <div id="map" data-markers="<%= @markers.to_json %>"></div>
    <div class="col-contact">
     <%= image_tag "man.jpg",id: "avatar"%>
     <h1>Ce bien vous plaît ?</h1>
     <p>Contactez-nous au 07.23.12.25.39 </p>
     <p>Ou par E-mail: immo+@mail.com</p>
   </div>
   <script>
            //recup data from map
            const mapElement = document.getElementById("map");
            //parse markers from map
            const markers = JSON.parse(mapElement.dataset.markers);
            //parse markers for lat and lng
            const lng = parseFloat(markers.lng, 10);
            const lat = parseFloat(markers.lat, 10);

            function initMap() {
              // set location to lng and lat
              var place = {lat: lat, lng: lng};
              //create map with location and zoom
              var map = new google.maps.Map(
               document.getElementById('map'), {zoom: 15, center: place});
              // The marker, positioned at place
              var marker = new google.maps.Marker({position: place, map: map});
            }
          </script>
          <script defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoU_mc_G8koG5TTc4d_OKXDYNoFxXcU_s&callback=initMap">
        </script>
        <script>
// Open the Modal
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
  </script>
</div>
</div>
